<div class='hero-unit'>
	<h1>欢迎来到 Microblog</h1>
	<p>Microblog 是一个基于 Nodejs 的微型博客系统</p>
	<p>
		<a href="/login" class='btn btn-primary btn-large'>登陆</a>
		<a href="/reg" class='btn btn-large'>立即注册</a>
	</p>
</div>
<div class='row'>
	<div class='span4'>
		<h2>Carbo Says</h2>
		<p>春眠不觉晓，处处蚊子咬，夜来风雨声，大包它不少。春眠不觉晓，处处蚊子咬，夜来风雨声，大包它不少。春眠不觉晓，处处蚊子咬，夜来风雨声，大包它不少。</p>
	</div>
	<div class='span4'>
		<h2>Carbo Says</h2>
		<p>春眠不觉晓，处处蚊子咬，夜来风雨声，大包它不少。春眠不觉晓，处处蚊子咬，夜来风雨声，大包它不少。春眠不觉晓，处处蚊子咬，夜来风雨声，大包它不少。</p>
	</div>
	<div class='span4'>
		<h2>Carbo Says</h2>
		<p>春眠不觉晓，处处蚊子咬，夜来风雨声，大包它不少。春眠不觉晓，处处蚊子咬，夜来风雨声，大包它不少。春眠不觉晓，处处蚊子咬，夜来风雨声，大包它不少。春眠不觉晓，处处蚊子咬，夜来风雨声，大包它不少。</p>
	</div>
</div>