<!DOCTYPE html>
<!--Create by allen 20130821-->
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<p>FUCK YOU!</p>
    <%- body %>
  </body>
</html>