<form class='form-horizontal' action="doReg" method="post">
	<fieldset>
		<legend>用户注册</legend>
		<div class='control-group'>
			<label class='contrl-label' for='username'>用户名</label>
			<div class='controls'>
				<input type='text' id='username' name='username' class='input-xlarge' />
				<p class='help-block'>你的账户名称、用户登录和显示</p>
			</div>
		</div>
		<div class='control-group'>
			<label class='contrl-label' for='password'>登陆密码</label>
			<div class='controls'>
				<input type='password' name='password' id='password' class='input-xlarge' />
			</div>
		</div>
		<div class='control-group'>
			<label class='contrl-label' for='confirm-pwd'>确认密码</label>
			<div class='controls'>
				<input type='password' name='confirm-pwd' id='confirm-pwd' class='input-xlarge' />
			</div>
		</div>
		<div class='form-actions'>
			<button type='submit' class='btn btn-primary'>REGISTER</button>
		</div>
    </fieldset>
</form>